@use "./_reboot.scss";

.wrapper {
  &-link {
    display: flex;
    justify-content: center;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
