<div class="card">
  @if(dateStr){
  <h3>{{ dateStr | date : "dd/MM" }}</h3>
  } @if(!(priceMeta.min === 0 && priceMeta.max === 0 && priceMeta.average ===
  0)) {
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-caret-down"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"
      ></path>
    </svg>

    {{ priceMeta.min | number : "1.2-2" }} kr
  </div>

  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-caret-right"
      viewBox="0 0 16 16"
    >
      <path
        d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"
      ></path>
    </svg>
    <span [ngClass]="getPriceClass(priceMeta.average)">
      {{ priceMeta.average | number : "1.2-2" }} kr
    </span>
  </div>

  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-caret-up"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"
      ></path>
    </svg>

    {{ priceMeta.max | number : "1.2-2" }} kr
  </div>
  }
</div>
