.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.price {
  &-low {
    color: green;
  }
  &-high {
    color: orange;
  }
  &-extreem {
    color: red;
  }
}

.interval {
  &-now {
    font-weight: bold;
  }
}
