@if(priceIntervalTodayList){
<div class="wrapper">
  <!-- <h3>{{ today | date : "dd/MM" }}</h3> -->

  @if(priceMetaToday){
  <app-min-max [priceMeta]="priceMetaToday" [dateStr]="today"></app-min-max>
  }

  <app-interval-graph
    [priceIntervalList]="priceIntervalTodayList"
  ></app-interval-graph>
</div>
} @if(priceIntervalTomorrowList && priceIntervalTomorrowList.length > 0){
<div>
  <!-- <h3>{{ tomorrow | date : "dd/MM" }}</h3> -->

  @if(priceMetaTomorrow){
  <app-min-max
    [priceMeta]="priceMetaTomorrow"
    [dateStr]="tomorrow"
  ></app-min-max>
  }

  <app-interval-graph
    [priceIntervalList]="priceIntervalTomorrowList"
  ></app-interval-graph>
</div>
}

<div class="wrapper-link">
  <a routerLink="/number">Byt till lista </a>
  <a routerLink="/settings">Byt elområde {{ region }} </a>
</div>
