@if(priceIntervalTodayList){ @if(priceMetaToday){
<div class="wrapper">
  <app-min-max [priceMeta]="priceMetaToday" [dateStr]="today"></app-min-max>
</div>
}

<app-interval-graph
  [priceIntervalList]="priceIntervalTodayList"
></app-interval-graph>

} @if(priceIntervalTomorrowList && priceIntervalTomorrowList.length > 0){
<div>
  @if(priceMetaTomorrow){
  <div class="wrapper">
    <app-min-max
      [priceMeta]="priceMetaTomorrow"
      [dateStr]="tomorrow"
    ></app-min-max>
  </div>
  }

  <app-interval-graph
    [priceIntervalList]="priceIntervalTomorrowList"
  ></app-interval-graph>
</div>
}

<div class="wrapper-link">
  <a routerLink="/number">Byt till lista </a>
  <a routerLink="/settings">Byt elområde {{ region }} </a>
</div>
