<div class="wrapper">
  @if(priceIntervalTodayList){
  <div>
    <h3>{{ today | date : "dd/MM" }}</h3>

    @if(priceMetaToday){
    <div class="card">
      <div>Min: {{ priceMetaToday.min | number : "1.2-2" }} kr</div>
      <div>Max: {{ priceMetaToday.max | number : "1.2-2" }} kr</div>
      <div>
        Snitt:
        <span [ngClass]="getPriceClass(priceMetaToday.average)">
          {{ priceMetaToday.average | number : "1.2-2" }} kr
        </span>
      </div>
    </div>
    }

    <app-price-list
      [priceIntervalList]="priceIntervalTodayList"
    ></app-price-list>
  </div>
  } @if(priceIntervalTomorrowList){
  <div>
    <h3>{{ tomorrow | date : "dd/MM" }}</h3>

    @if(priceMetaTomorrow){
    <div class="card">
      <div>Min: {{ priceMetaTomorrow.min | number : "1.2-2" }} kr</div>
      <div>Max: {{ priceMetaTomorrow.max | number : "1.2-2" }} kr</div>
      <div>
        Snitt:
        <span [ngClass]="getPriceClass(priceMetaTomorrow.average)">
          {{ priceMetaTomorrow.average | number : "1.2-2" }} kr
        </span>
      </div>
    </div>
    }

    <app-price-list
      [priceIntervalList]="priceIntervalTomorrowList"
    ></app-price-list>
  </div>
  }
</div>
<div class="wrapper-link">
  <a routerLink="/settings">Byt ut elområde {{ region }} </a>
</div>
<!-- <div>
  <div>
    <a routerLink="/settings">Byt ut elområde {{ region }} </a>
  </div>
  <div><a routerLink="/graph">Byt till graf </a></div>
</div> -->
