.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  > div {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
  }
}

.price {
  &-low {
    color: green;
  }
  &-high {
    color: orange;
  }
  &-extreem {
    color: red;
  }
}

.interval {
  padding: 0.2rem;
  &-now {
    //font-weight: bold;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 0.5rem;
  }
}

.card {
  padding: 0.5rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
