.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  > div {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
  }
}

.price {
  &-free {
    color: blue;
  }
  &-low {
    color: green;
  }
  &-mid {
    color: orange;
  }
  &-high {
    color: red;
  }
  &-extreme,
  &-optimus-prime {
    color: darkred;
  }
  &-optimus-prime {
    animation: blinker 1s infinite;
  }
}

.interval {
  padding: 0.2rem;
  &-now {
    //font-weight: bold;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 0.5rem;
  }
}

.card {
  padding: 0.5rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
