<div class="wrapper">
  @if(priceIntervalTodayList){
  <div>
    <h3>{{ today | date : "dd/MM" }}</h3>

    @if(priceMetaToday){
    <div class="card">
      <div>Min: {{ priceMetaToday.min | number : "1.2-2" }} kr</div>
      <div>Max: {{ priceMetaToday.max | number : "1.2-2" }} kr</div>
      <div>
        Snitt:
        <span [ngClass]="getPriceClass(priceMetaToday.average)">
          {{ priceMetaToday.average | number : "1.2-2" }} kr
        </span>
      </div>
    </div>
    }

    <div
      *ngFor="let pi of priceIntervalTodayList"
      class="interval"
      [ngClass]="getTimeClass(pi.time_start)"
    >
      <span style="margin-right: 0.75rem">
        {{ pi.time_start | date : "HH" }}
        -
        {{ pi.time_end | date : "HH" }}
      </span>
      <span [ngClass]="getPriceClass(pi.SEK_per_kWh)">
        {{ pi.SEK_per_kWh | number : "1.2-2" }}
        kr
      </span>
    </div>
  </div>
  } @if(priceIntervalTomorrowList){
  <div>
    <h3>{{ tomorrow | date : "dd/MM" }}</h3>

    @if(priceMetaTomorrow){
    <div class="card">
      <div>Min: {{ priceMetaTomorrow.min | number : "1.2-2" }} kr</div>
      <div>Max: {{ priceMetaTomorrow.max | number : "1.2-2" }} kr</div>
      <div>
        Snitt:
        <span [ngClass]="getPriceClass(priceMetaTomorrow.average)">
          {{ priceMetaTomorrow.average | number : "1.2-2" }} kr
        </span>
      </div>
    </div>
    }

    <div *ngFor="let pi of priceIntervalTomorrowList" class="interval">
      <span style="margin-right: 0.75rem">
        {{ pi.time_start | date : "HH" }}
        -
        {{ pi.time_end | date : "HH" }}
      </span>
      <span [ngClass]="getPriceClass(pi.SEK_per_kWh)">
        {{ pi.SEK_per_kWh | number : "1.2-2" }} kr
      </span>
    </div>
  </div>
  }
</div>

<div class="wrapper-link">
  <a routerLink="/settings">Byt region</a>
</div>
